<ion-header>
  <ion-toolbar color="success">
    <ion-title class="center">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="div1">
        <ion-card-header>
            <img src="../../assets/img/logo.jpg">
            <ion-card-title>App Estacionamento</ion-card-title>
        </ion-card-header>
        <ion-card-content class="center">
            <ion-row>O aplicativo calcula o valor a ser pago pelo ticket do estaciomento do veiculo a partir da hora de entrada e saida do veiculo.</ion-row>
            <br>
            <ion-row>Desenvolvido por: Willian Pereira Mariano</ion-row>
       </ion-card-content>
    </ion-card>
</ion-content>

