.div1{
    margin: 5%;
    padding: 5%;
    text-align: center;
}

.center{
    text-align: center;
}

.item1{
    margin:3%;
    padding-left:10%;
    padding-right:10%;
}

.bt{
    margin:1%;
    padding-left:20%;
    padding-right:20%;
}